.pagination-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn-icon {
  height: 18px;
  width: 18px;
}

.btn {
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50%;
  color: #087f5b;
  background-color: #fff;
  font-weight: 400;
}

.btn:hover {
  transition: ease-in 0.3s;
  background-color: #087f5b;
  color: #fff;
}

.btn-prev-next {
  border: 1px solid #087f5b;
}

.btn-active {
  background-color: #087f5b;
  color: #fff;
}